<% content_for(:head) do %>
    <script type="text/javascript">
      function validationUrl(url) {
        return url === 'null' ? null : url;
      }

      $(function () {
        var url = window.location.search.match(/url=([^&]+)/);
        if (url && url.length > 1) {
          url = decodeURIComponent(url[1]);
        } else {
          url = "<%= @swagger_url %>";
        }

        hljs.configure({
          highlightSizeThreshold: 5000
        });

        // Pre load translate...
        if(window.SwaggerTranslator) {
          window.SwaggerTranslator.translate();
        }
        window.swaggerUi = new SwaggerUi({
          url: url,
          validatorUrl: validationUrl("<%= @validator_url %>"),
          oauth2RedirectUrl: "<%= oauth2_swagger_docs_url %>",
          dom_id: "swagger-ui-container",
          supportedSubmitMethods: ['get', 'post', 'put', 'delete', 'patch'],
          onComplete: function(swaggerApi, swaggerUi){
            if(typeof initOAuth == "function") {
              initOAuth({
                clientId: "<%= @oauth_client_id %>",
                clientSecret: "<%= @oauth_client_secret %>",
                realm: "<%= @oauth_realm %>",
                appName: "<%= @oauth_app_name %>",
                scopeSeparator: "<%= @oauth_scope_separator %>",
                additionalQueryStringParams: "<%= @oauth_query_string_params %>"
              });
            }

            if(window.SwaggerTranslator) {
              window.SwaggerTranslator.translate();
            }
          },
          onFailure: function(data) {
            log("Unable to Load SwaggerUI");
          },
          docExpansion: "<%= @doc_expansion %>",
          jsonEditor: "<%= @json_editor %>",
          defaultModelRendering: "<%= @model_rendering %>",
          showRequestHeaders: "<%= @request_headers %>",
          showOperationIds: false
        });

        window.swaggerUi.load();

        function log() {
          if ('console' in window) {
            console.log.apply(console, arguments);
          }
        }
    });
    </script>
<% end %>

<% unless @single_doc_url %>
  <div class="swagger-ui-wrap">
    <a href="<%= swagger_docs_path %>" class="swagger-return-link" data-sw-translate> Back to the list </a>
  </div>
<% end %>
